<launch>
    <arg name="stand_alone" default="true" />
	<group if="$(arg stand_alone)">
        <rosparam command="load" file="$(find kuam_mission_manager)/config/param.yaml" />
	</group>

	<arg name="output" default="screen"/>

	<!-- Must select only one -->
	<arg name="is_exp" default="true" />
	<arg name="is_real" default="false" />
	<arg name="is_gazebo" default="false" />

	<node pkg="kuam_mission_manager" type="kuam_tf_broadcaster_node" name="tf_broadcaster" output="$(arg output)">
		<param name="is_exp" value="$(arg is_exp)" />
		<param name="is_real" value="$(arg is_real)" />
		<param name="is_gazebo" value="$(arg is_gazebo)" />
	</node>
</launch>