<launch>
    <!-- shell script -->
	<!-- <arg name="is_finding_home" default="false"/> -->

    <group ns="/kuam/data">
        <include file="$(find kuam_csv_parser)/launch/csv_parser.launch">
            <!-- <arg name="is_debug_mode" value="$(arg is_debug_mode)" /> -->
        </include>

        <include file="$(find kuam_aruco_tracking)/launch/aruco_tracking.launch">
        </include>        
    </group>
</launch>
