<?xml version="1.0"?>
<model>
    <name>simple_car_with_marker</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
      <name>Yeong-soo Kim</name>
      <email>kimkys768@gmail.com</email>
    </author>

    <description>
      Sketchup models from google 3D warehouse.
    </description>
</model>
