<?xml version="1.0"?>
<launch>
    <include file="$(find usb_cam)/launch/usb_cam.launch"/>

	<arg name="m_dictionary_id_param" default="10" />
	<arg name="m_show_rejected_param" default="false" />
	<arg name="m_estimate_pose_param" default="true" />
	<arg name="m_marker_length_param" default="0.1" />
    <node pkg="aruco_tracking" type="aruco_tracking_node" name="aruco_tracking" output="screen">
		<param name="m_dictionary_id_param" value="$(arg m_dictionary_id_param)" />
		<param name="m_show_rejected_param" value="$(arg m_show_rejected_param)" />
		<param name="m_estimate_pose_param" value="$(arg m_estimate_pose_param)" />
		<param name="m_marker_length_param" value="$(arg m_marker_length_param)" />
    </node>
</launch>