<launch>
    <!-- namespace -->
	<arg name="data_ns" default="/kuam/data" />
	<arg name="control_ns" default="/kuam/control" />

    <!-- common -->
	<arg name="mode" default="false" />
	<arg name="target_height_m" default="10.0" />

    <!-- state machine -->
	<arg name="takeoff_alt_m" default="3.0" />
	<arg name="reached_dist_th_m" default="0.4" />
	<arg name="guidance_dist_th_m" default="0.7" />
	<arg name="landing_threshold_m" default="0.25" />
	<arg name="landing_standby_alt_m" default="3.0" />
	<arg name="battery_th_per" default="0.05" />
	<arg name="virtual_border_max_side_m" default="6.0" />
    <arg name="virtual_border_angle_0_deg" default="20.0" />
    <arg name="virtual_border_angle_1_deg" default="10.0" />
	<arg name="alt_division_m" default="10.0" />
	<arg name="alt_offset_m" default="23.156" />
	<arg name="standby_dist_th_m" default="1.5" />
	<arg name="landing_duration_s" default="80" />
	<arg name="using_aruco" default="False" />

    <group ns="/kuam/maneuver">
        <include file="$(find kuam_mission_manager)/launch/mission_manager.launch">
            <arg name="mode" value="$(arg mode)" />
            <arg name="data_ns" value="$(arg data_ns)" />
            <arg name="control_ns" value="$(arg control_ns)" />
            <arg name="target_height_m" value="$(arg target_height_m)" />
        </include>

        <include file="$(find kuam_mission_manager)/launch/tf_broadcaster.launch">
            <arg name="target_height_m" value="$(arg target_height_m)" />
            <arg name="data_ns" value="$(arg data_ns)" />
        </include>

        <include file="$(find kuam_state_machine)/launch/state_machine.launch">
            <arg name="data_ns" value="$(arg data_ns)" />
            <arg name="takeoff_alt_m" value="$(arg takeoff_alt_m)" />
            <arg name="reached_dist_th_m" value="$(arg reached_dist_th_m)" />
            <arg name="guidance_dist_th_m" value="$(arg guidance_dist_th_m)" />
            <arg name="landing_threshold_m" value="$(arg landing_threshold_m)" />
            <arg name="landing_standby_alt_m" value="$(arg landing_standby_alt_m)" />
            <arg name="battery_th_per" value="$(arg battery_th_per)" />
            <arg name="virtual_border_max_side_m" value="$(arg virtual_border_max_side_m)" />
            <arg name="virtual_border_angle_0_deg" value="$(arg virtual_border_angle_0_deg)" />
            <arg name="virtual_border_angle_1_deg" value="$(arg virtual_border_angle_1_deg)" />
            <arg name="alt_division_m" value="$(arg alt_division_m)" />
            <arg name="alt_offset_m" value="$(arg alt_offset_m)" />
            <arg name="standby_dist_th_m" value="$(arg standby_dist_th_m)" />
            <arg name="landing_duration_s" value="$(arg landing_duration_s)" />
            <arg name="using_aruco" value="$(arg using_aruco)" />
        </include>
    </group>
</launch>