<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find kuam_global_path)/config/param.yaml" />

    <!-- rviz -->
    <arg name="rviz" default="false" />

    <!-- nodes -->
    <node pkg="kuam_global_path" type="global_path_node" name="global_path" output="screen" />
    <!-- <node pkg="kuam_global_path" type="global_path_tf_node" name="global_path_tf" output="screen" /> -->
    <!-- <node pkg="kuam_global_path" type="global_path_visual_node" name="global_path_visual" /> -->

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kuam_global_path)/rviz/global_path.rviz" required="true" />
    </group>
</launch>
