<launch>
    <arg name="stand_alone" default="true" />
	<group if="$(arg stand_alone)">
        <rosparam command="load" file="$(find kuam_state_machine)/config/param.yaml" />
	</group>
	
	<arg name="output" default="screen"/>

	<!-- Do Not Input 0.0 -->
	<arg name="using_aruco" default="False" />

	<node pkg="kuam_state_machine" type="state_machine.py" name="state_machine" output="$(arg output)">
		<param name="using_aruco" value="$(arg using_aruco)" />
	</node>
</launch>
