<?xml version="1.0"?>
<launch>
	<arg name="setpoint_pub_interval" default="0.05" />
    <arg name="is_debug_mode" default="false" />

    <node pkg="kuam_offb" type="offb_node" name="offb" output="screen">
        <param name="setpoint_pub_interval" value="$(arg setpoint_pub_interval)" />
        <param name="is_debug_mode" value="$(arg is_debug_mode)" />
    </node>
</launch>