<launch>
    <arg name="stand_alone" default="true" />
	<group if="$(arg stand_alone)">
        <rosparam command="load" file="$(find kuam_mission_manager)/config/param.yaml" />
	</group>

	<arg name="output" default="screen"/>

	<node pkg="kuam_mission_manager" type="kuam_mission_manager_node" name="mission_manager" output="$(arg output)" />
</launch>