<launch>
	<arg name="output" default="screen"/>

	<arg name="process_freq" default="30.0" />
	<arg name="data_ns" default="/kuam/data" />

	<node pkg="kuam_mission_manager" type="kuam_mission_manager_node" name="mission_manager" output="$(arg output)">
        <param name="process_freq" value="$(arg process_freq)" />
		<param name="data_ns" value="$(arg data_ns)" />
	</node>
</launch>