<?xml version="1.0"?>
<launch>
    <!-- shell script -->
    <arg name="simulation" default="false" />
    <arg name="home_lat" default="37.544820" />
    <arg name="home_lon" default="127.078922" />
    <arg name="home_alt" default="43.479396" />

    <group if="$(arg simulation)">
		<param name="use_sim_time" value="true" />
        <param name="sim" value="true" />
        <param name="home_lat" value="$(arg home_lat)" />
        <param name="home_lon" value="$(arg home_lon)" />
        <param name="home_alt" value="$(arg home_alt)" />
	</group>
	<param unless="$(arg simulation)" name="sim" value="false" />
    
    <!-- mavros px4 -->
    <arg name="fcu_url" default="/dev/ttyACM0:57600"/>
    <!-- <arg name="fcu_url" default="/dev/ttyPixhawk"/> -->

    <group unless="$(arg simulation)">
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
        </include>
    </group>
    
    <group if="$(arg simulation)">
        <include file="$(find px4)/launch/mavros_posix_sitl.launch"/>
    </group>
</launch>