<launch>
    <!-- namespace -->
    <!-- <rosparam command="load" file="$(find config)/param.yaml" /> -->

    <!-- tf_broadcaster -->
    	<!-- Must select only one -->
	<arg name="is_exp" default="false" />
	<arg name="is_real" default="false" />
	<arg name="is_gazebo" default="true" />

    <!-- state machine -->
    <arg name="using_aruco" default="True" />

    <group ns="/kuam/maneuver">
        <include file="$(find kuam_mission_manager)/launch/mission_manager.launch">
        </include>

        <!-- <include file="$(find kuam_mission_manager)/launch/tf_broadcaster.launch">
            <arg name="stand_alone" value="false" />
            <arg name="is_exp" value="$(arg is_exp)" />
            <arg name="is_real" value="$(arg is_real)" />
            <arg name="is_gazebo" value="$(arg is_gazebo)" />
        </include> -->

        <include file="$(find kuam_state_machine)/launch/state_machine.launch">
            <arg name="using_aruco" value="$(arg using_aruco)" />
        </include>
    </group>
</launch>
