<launch>
    <!-- namespace -->
    <arg name="maneuver_ns" default="/kuam/maneuver" />

    <!-- - kuam_aruco_tracking - -->
    <arg name="using_aruco" default="true" />
	<arg     if="$(arg using_aruco)" name="gps_only" value="false" />
	<arg unless="$(arg using_aruco)" name="gps_only" value="true" />
    
    <!-- select only one data type -->
    <arg name="using_gazebo_data" default="true" />
    <arg name="using_logging_data" default="false" />
    <arg name="using_device_data" default="false" />

    <!-- rviz -->
    <arg name="rviz" default="false" />

    <group ns="/kuam/data">
        <include file="$(find kuam_global_path)/launch/global_path.launch">
            <arg name="maneuver_ns" value="$(arg maneuver_ns)" />
            <arg name="gps_only" value="$(arg gps_only)" />
        </include>

        <include file="$(find kuam_aruco_tracking)/launch/aruco_tracking.launch" if="$(arg using_aruco)">
            <arg name="using_gazebo_data" value="$(arg using_gazebo_data)" />
            <arg name="using_logging_data" value="$(arg using_logging_data)" />
            <arg name="using_device_data" value="$(arg using_device_data)" />
        </include>

        <group if="$(arg rviz)">
            <node pkg="rviz" type="rviz" name="data_processing_rviz" args="-d $(find kuam_data_processing)/rviz/data_processing.rviz" required="true" />
        </group>
    </group>
</launch>
