<launch>
    <!-- namespace -->
    <arg name="maneuver_ns" default="/kuam/maneuver" />

    <arg name="using_aruco" default="false" />
    <arg name="using_yolo" default="false" />
    <arg name="gps_only" default="true" />
    <arg name="simulation" default="true" />

    <!-- rviz -->
    <arg name="rviz" default="false" />

    <group ns="/kuam/data">
        <include file="$(find kuam_global_path)/launch/global_path.launch">
            <arg name="maneuver_ns" value="$(arg maneuver_ns)" />
            <arg name="gps_only" value="$(arg gps_only)" />
        </include>

        <include file="$(find kuam_aruco_tracking)/launch/aruco_tracking.launch" if="$(arg using_aruco)">
            <arg name="simulation" value="$(arg simulation)" />
        </include>

        <include file="$(find kuam_vehicle_position)/launch/vehicle_position.launch" if="$(arg using_yolo)">
            <arg name="simulation" value="$(arg simulation)" />
        </include>

        <group if="$(arg rviz)">
            <node pkg="rviz" type="rviz" name="data_processing_rviz" args="-d $(find kuam_data_processing)/rviz/data_processing.rviz" required="true" />
        </group>
    </group>
</launch>
