<?xml version="1.0"?>
<launch>
	<arg name="setpoint_pub_interval" default="0.05" />
	<arg name="maneuver_ns" default="/kuam/maneuver" />

    <node pkg="kuam_offb" type="offb_node" name="offb" output="screen">
        <param name="setpoint_pub_interval" value="$(arg setpoint_pub_interval)" />
        <param name="maneuver_ns" value="$(arg maneuver_ns)" />
    </node>
</launch>